body.dark {
  --theme-bg-color: #0d0f17;
  --theme-bg-color-rgb: 13,15,23;
  --text-color-primary: rgba(255, 255, 255, .9);
  --text-color-secondary: rgba(255, 255, 255, .7);
  --text-color-muted: rgba(255, 255, 255, .4);
  --bg-color: rgba(255, 255, 255, .1);
  --border-color: rgba(255, 255, 255, .1);
  --fill-color-blank: var(--bg-color);
  --skeleton-to-color: rgba(255, 255, 255, .11);
  
  --menu-item-bg-color: rgba(13, 15, 23, .2);
  --menu-item-bg-color-danger: rgba(var(--color-danger-rgb), .08);
  
  /* element plus */
  --el-fill-color-blank: var(--bg-color);
  --el-fill-color-light: var(--bg-color);
  --el-bg-color-overlay: var(--theme-bg-color);
  --el-border-color-light: var(--border-color);
}