.dark {
  --echo-theme-bg-color: #0d0f17;
  --echo-theme-bg-color-rgb: 13,15,23;
  --echo-text-color-primary: rgba(255, 255, 255, .9);
  --echo-text-color-secondary: rgba(255, 255, 255, .7);
  --echo-text-color-muted: rgba(255, 255, 255, .4);
  --echo-bg-color: rgba(255, 255, 255, .1);
  --echo-border-color: rgba(255, 255, 255, .1);
  --echo-fill-color-blank: var(--echo-bg-color);
  --echo-skeleton-to-color: rgba(255, 255, 255, .11);
  
  --echo-menu-item-bg-color: rgba(13, 15, 23, .2);
  --echo-menu-item-bg-color-danger: rgba(var(--echo-color-danger-rgb), .08);
  
  /* element plus */
  --el-fill-color-blank: var(--echo-bg-color);
  --el-fill-color-light: var(--echo-bg-color);
  --el-bg-color-overlay: var(--echo-theme-bg-color);
  --el-border-color-light: var(--echo-border-color);
}