.el-button {
  border-radius: $border-radius;
  font-family: $font-family;
  transition: all .3s ease;
  
  &--primary {
    &,
    &:focus:not(.el-button:hover) {
      border-color: $primary;
      background: $primary;
    }
    
    &.is-disabled {
      &,
      &:hover,
      &:focus {
        border-color: $primary-disabled;
        background: $primary-disabled;
      }
    }
    
  }
  
  &--info {
    &,
    &:focus:not(.el-button:hover) {
      border-color: $bg-color;
      background: $bg-color;
      color: $text-secondary;
    }
    
    &:hover,
    &:focus {
      border-color: $primary-light;
      background: $primary-light;
      color: $primary;
    }
    
    &.el-button--icon {
      &.active {
        &,
        &:focus:not(.el-button:hover) {
          border-color: $primary;
          background: $primary;
          color: white;
        }
        
        &:hover,
      &:focus {
          border-color: $primary-dark;
          background: $primary-dark;
        }  
      }
    }
  }
  
  &--icon {
    padding-left: 8px;
    padding-right: 8px;
    
    &.el-button--large {
      padding-left: 11px;
      padding-right: 11px;
    }
  }
  
  &--large {
    font-size: 16px;
  }
  
  &--xlarge {
    height: 44px;
    font-size: 15px;
  }
}

.el-textarea {
  &__inner {
    border-radius: $border-radius;
    box-shadow: 0 0 0 1px $border-color inset;
    
    &:focus {
      box-shadow: 0 0 0 1px $primary inset;
    }
  }
}

.el-input {
  &__wrapper {
    border-radius: $border-radius;
    box-shadow: 0 0 0 1px $border-color inset;
    
    &.is-focus,
    &:hover {
      box-shadow: 0 0 0 1px $primary inset;
    }
  }
}

.el-popover.el-popper {
  min-width: 136px;
  border: 0;
  border-radius: $border-radius;
  box-shadow: 0 10px 10px rgba(black, .08);
}

.el-dialog {
  border-radius: 20px;
  
  &__header {
    padding: 35px 35px 0;
    margin-right: 0;
  }
  
  &__body {
    padding: 30px 35px 50px;
    color: $text-primary;
  }
}