* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

a {
  color: var(--echo-color-primary);
  text-decoration: none;
  transition: color .3s;
  
  &:hover {
    color: var(--echo-color-primary-dark);
  }
}

li {
  list-style: none;
}

body {
  background: transparent;
  color: var(--echo-text-color-primary);
  font-family: var(--echo-font-family);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

p {
  & + & {
    margin-top: 10px;
  }
}
