* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

a {
  text-decoration: none;
  color: $primary;
  transition: color .3s;
  
  &:hover {
    color: $primary;
  }
}

li {
  list-style: none;
}

body {
  background: white;
  color: $text-primary;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

p {
  & + & {
    margin-top: 10px;
  }
}
