* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: color .3s;
  
  &:hover {
    color: var(--color-primary);
  }
}

li {
  list-style: none;
}

body {
  background: var(--theme-bg-color);
  color: var(--text-color-primary);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

p {
  & + & {
    margin-top: 10px;
  }
}
