.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all .3s ease;
}

.slide-down-enter-from,
.slide-down-leave-to {
  opacity: 0;
  transform: translateY(-72px);
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: all .3s ease;
}

.list-enter-active, .list-leave-active {
  transition: all .5s ease;
}

.list-enter-from, .list-leave-to{
  opacity: 0;
  transform: translateY(30px);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  // opacity: 0;
  transform: translateY(100%);
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all .1s ease;
}