$primary: #4E75F6;
$primary-light: #E9EFFE;
$primary-lighter: #F8FAFF;
$primary-dark: #3864F5;
$primary-disabled: #94B1FC;

$success: #83BF1C;
$warning: #FFAA02;
$danger: #FF4838;

$text-primary: #16171C;
$text-secondary: #4C545D;
$text-muted: #929AB2;

$bg-color: #F4F5FA;

$border-color: #E6E8ED;

$font-family: 'Work Sans',Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;

$border-radius: 12px;

$small-mobile-width: 375px;
$mobile-width: 480px;
$tablet-width: 768px;
$small-desktop-width: 1024px;
$medium-desktop-width: 1200px;