$primary: #4E75F6;
$primary-light: #F8FAFF;

$text-primary: #16171C;
$text-secondary: #4C545D;
$text-muted: #929AB2;

$bg-color: #F4F5FA;

$font-family: 'Work Sans',Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;

$border-radius: 12px;